@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Variable.ttf') format('truetype');
  /* src: url('./NanumSquareNeo-Variable.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo', sans-serif;
}


.basic-font {
  font-family: 'NanumSquareNeo', sans-serif;
}

.galleryView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item:nth-child(3n+1) {
  height: 220px;
}

.card-item:nth-child(3n+2) {
  height: 230px;
}

.card-item:nth-child(3n+3) {
  height: 240px;
}

.card-item h2 {
  margin: 0;
  font-size: 25px;
}

.card-item p {
  margin: 10px 0 0;
  color: gray;
  padding-top: 30px;
  text-align: right;
}





.add-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.add-info h1 {
  margin-bottom: 20px;
}

.add-info h3 {
  margin-bottom: 30px;
}

.add-info button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



.add-form {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Viewport height */
  justify-content: center; /* Center the form vertically */
  align-items: center; /* Center the form horizontally */
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}

.add-form h1 {
  margin-bottom: 35px;
}

.add-form input[type="text"] {
  
  width: 100%;
  max-width: 400px;


  flex-grow: 1;
  /* height: auto; */
  height: 25vh;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}


.add-form input[type="submit"] {
  margin-top : 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}


.add-back {
  margin-top: 10px;
  text-decoration: none;
  color: gray;
}

.add-back:hover {
  color : black;
}


.add-btn {
  margin-top: 10px;
  text-decoration: none;
  color: gray;
  text-align: center;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

.add-btn:hover {
  color: black;
}

.viewMain {
  text-align: center;
}

.view-board {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 600px; /* 보드의 최대 너비 */
  height: 200px; /* 5개의 항목이 보일 수 있는 높이 */
  overflow: hidden; /* 보드 밖으로 나가는 내용을 숨김 */
  position: relative;

  margin-top : 30px;
  margin-bottom : 50px;
}

.view-items {
  padding: 10px;
  text-align: left;
  background-color: #f1f1f1;
  margin: 5px 0;
  transition: transform 0.5s ease-in-out; /* 이동 애니메이션 */
}


.view-items-time {
  color : gray;
  font-size: 12px;
  margin-left: 10px;
}

.viewMain h1 {
  margin-bottom: 0px;
  font-family: Verdana;
  margin-top : 50px;
  font-weight: bold;
}

.viewMain h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Georgia;
}

.viewMain h3 {
  margin-top: 5px;
  margin-bottom: 40px;
  font-family: Georgia;
}